body, html {
    margin: 0;
    padding: 0;
    color: #000;
}

#wrap {
    width: 100%;
    margin: 0 auto;
}

#nav {
    background-color: black;
    width: 100%;
    height: 60px;
}

#nav li {
    display: inline;
    padding-right: 20px;
}

.navigation-right {
    float: right !important;
    width: 45%;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    padding: 0;
}

    .navigation-right li {
        float: right;
    }

.navigation-left {
    float: left !important;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 5%;
    width: 45%;
    padding: 0;
}

#main {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 100px;
}

#sidebar {
    float: left;
    width: 10%;
}

    #sidebar ul {
        list-style: none;
        margin-left: 30px;
    }

    #sidebar a {
        font-family: sans-serif;
        text-decoration: none;
    }

#nav a:link {
    color: gray;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 1em;
}

#nav #navigation-left-home a:link {
    font-size: larger;
}

#nav a:visited {
    color: gray;
    font-family: sans-serif;
    text-decoration: none;
}

#nav a:active {
    color: gray;
    font-family: sans-serif;
    text-decoration: none;
}

#footer {
    clear: both;
    margin-left: 15%;
}