body, html {
    padding: 0;
    margin: 0;
}

#filters {
    margin-bottom: 20px;
}

    #filters td {
        border: none;
        height: 30px;
    }

.filter-input:focus {
    box-shadow: 0 0 5px 5px gray;
    border: none;
}

button {
    border-radius: 5px;
}

#user-table {
    border-spacing: 0;
    border-color: blue;
    width: 100%;
    background: linear-gradient(to top left, gray, white);
}

.table-left-corner {
    border-top-left-radius: 10px;
}

.table-right-corner {
    border-top-right-radius: 10px;
}

.table-row:hover {
    background-color: rgb(80,80,80);
}

.header {
    text-align: left;
    font-family: Helvetica, sans-serif;
    background-color: rgb(243,243,243);
    border: solid 1px;
    border-bottom: solid 2px;
    border-color: rgb(227,227,227);
}

    .header strong {
        font-size: 0.8em;
        color: rgb(102,102,102);
    }

    .header img {
        vertical-align: middle;
    }

.header-clickable:hover {
    cursor: pointer;
}

select {
    background-color: rgb(227,227,227);
    width: 50%;
}

td {
    border: solid 1px;
    border-color: rgb(227,227,227);
}

#name-column {
    width: 25%;
    color: rgb(225, 111, 0);
}

#date-column {
    width: 25%;
}

#role-column {
    width: 30%;
}

#actions-column {
    width: 20%;
}
