body, html {
    
}

#user-table {
    width: 80%;
}

#user-table thead th {
    border: 1px solid;
}

#user-table img {
    width: 15px;
}

.even {
    background-color: gray;
}

.odd {
    background-color: lightgray;
}

.select {
    width: 70%;
}

th:hover {
    cursor: pointer;
}

th {
    width: 25%;
    text-align: left;
}

#filters {
    margin-bottom: 20px;
}