@model dynamic

@{
    ViewBag.Title = "Blogs for users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Blogs for users</h2>

<div id="users-grid"></div>

<script type="text/x-kendo-template" id="template">
    @{if (User.IsInRole("admin"))
    {
        <a href="@Url.Action("Edit")/#: UserId #">Edit Role</a>
    }
    <a href="@Url.Action("Index", "Posts")/Index/#: UserId #">Posts</a>
    }
</script>

@section scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/dataProcessing.js")"></script>
}